<div class="col-sm-1">
  <%= leaf.label :folio_number, "fol/pg", class: "col-sm-1 control-label" %>
</div>
<div class="col-sm-1">
  <%= leaf.text_field :folio_number, class: "form-control" %>
</div>
<div class="col-sm-1">
  <label class="checkbox-inline control-label">
    <%= leaf.check_box :single %> <strong>Single</strong>
  </label>
</div>
